---
import Banner from "../Banner.astro";

import { contentfulClient } from "../../lib/contentful";
import type { EntryFieldTypes, EntrySkeletonType } from "contentful";

type Banner = {
  title: EntryFieldTypes.Text;
  content: EntryFieldTypes.RichText;
};

const entries = await contentfulClient.getEntries<EntrySkeletonType<Banner>>({
  content_type: "banner",
  "metadata.tags.sys.id[all]": ["isVisible"],
});
---

{
  entries.total > 0 ? (
    <div class="flex flex-col w-full gap-3 p-4 sm:max-w-xl sm:mx-auto xl:max-w-2xl bg-orange-50 dark:bg-gray-900 ">
      {entries.items.map((entry) => (
        <Banner title={entry.fields.title} content={entry.fields.content} />
      ))}
    </div>
  ) : null
}
