---
import FAQItem from "../FAQItem.astro";
import Illustration from "../Illustration.astro";
import IllustrationWrapper from "../IllustrationWrapper.astro";
import SectionTitle from "../SectionTitle.astro";
---

<section id="faq" class="order-6">
  <div class="p-4 bg-white rounded-b-3xl dark:bg-gray-800">
    <div class="sm:max-w-xl sm:mx-auto xl:max-w-2xl">
      <div class="mb-4 flex flex-col gap-8 sm:flex-row">
        <IllustrationWrapper class="sm:flex-initial">
          <Illustration
            illustration="Questions-pana"
            class="text-orange-500 dark:text-teal-500"
          />
        </IllustrationWrapper>

        <SectionTitle>Foire aux Questions</SectionTitle>
      </div>
    </div>
  </div>

  <div class="sm:max-w-xl sm:mx-auto xl:max-w-2xl">
    <div class="p-4 flex flex-col gap-4 sm:px-0">
      <FAQItem question="Comment se déroule une séance?">
        <p>
          Tout d’abord, nous aurons un temps d’échange pour me permettre de
          comprendre votre demande et répondre à vos questions.
        </p>

        <p>
          Ensuite, vous serez allongé, en conservant des vêtements légers. A
          l’aide de mes protocoles, j’effectue les palpations me permettant de
          réaliser la séance.
        </p>
      </FAQItem>

      <FAQItem question="A quelle fréquence faut-il faire des séances?">
        <p>
          La microkiné est une approche ponctuelle et ne donne pas lieu à un
          suivi hebdomadaire ou mensuel par exemple. Le plus souvent, 1 à 2
          séances sont indiquées.
        </p>

        <p>
          Certaines personnes apprécient également la technique en prévention ou
          en entretien.
        </p>
      </FAQItem>

      <FAQItem question="Combien de temps dure une séance?">
        <p>Elle dure entre 30 et 60 minutes.</p>
      </FAQItem>

      <FAQItem question="Et pour les enfants?">
        <p>
          Chez un tout petit, la séance peut être réalisée dans les bras du
          parent ou sur un coussin moelleux.
        </p>

        <p>
          Pour les bambins un peu plus grand, un doudou accompagnateur est le
          bienvenu. Il pourra même profiter d’une séance avant l’enfant.
        </p>
      </FAQItem>

      <FAQItem question="Et après la séance?">
        <p>
          Après la séance, il est possible de ressentir une fatigue passagère
          qu’il est alors utile de respecter. La séance est le point de départ
          d’un processus de plusieurs semaines (3 à 6 semaines) permettant au
          corps de se réharmoniser.
        </p>
      </FAQItem>

      <FAQItem question="Je veux en savoir plus sur la microkiné!">
        <p>
          Le site officiel:<!-- -->
          <a href="https://microkinesitherapie.fr" target="_blank"
            >https://microkinesitherapie.fr</a
          >
        </p>
        <p>Est-ce que la microkiné est une branche de la kinésithérapie?</p>
        <p>
          Non, cette technique n’a pas validé suffisamment d’études
          scientifiques pour pouvoir être recommandée par les instances
          officielles, tout comme l’ostéopathie crânienne, l’ostéopathie
          viscérale, la fasciathérapie, l’utilisation de ventouses etc…
        </p>
        <p>
          <a href="https://www.ordremk.fr/" target="_blank"
            >https://www.ordremk.fr</a
          >
        </p>
      </FAQItem>
    </div>
  </div>
</section>

<script>
  // Fetch all the details element.
  const details = document.querySelectorAll("#faq details");

  // Add the onclick listeners.
  details.forEach((targetDetail) => {
    targetDetail.addEventListener("click", () => {
      // Close all the details that are not targetDetail.
      details.forEach((detail) => {
        if (detail !== targetDetail) {
          detail.removeAttribute("open");
        }
      });
    });
  });
</script>
