---
import Icon from "../Icon.astro";
import Illustration from "../Illustration.astro";
---

<header class="flex flex-col items-center order-first gap-8 px-4 py-8">
  <div class="flex flex-col gap-8 lg:flex-row lg:items-center lg:gap-8">
    <Illustration
      illustration="Massage therapist-pana"
      class="text-orange-500 dark:text-teal-600"
    />
    <h1 class="text-center lg:flex-1 lg:text-right">
      <div
        class="text-xl font-bold tracking-wider text-transparent uppercase bg-gradient-to-br from-orange-500 to-amber-600 bg-clip-text dark:from-teal-500 dark:to-cyan-600"
      >
        Microkiné
      </div>
      <div class="text-lg font-bold text-orange-700 dark:text-teal-500">
        <div class="inline lg:block lg:text-3xl">Marine Bossiaux</div>
        <div class="inline lg:hidden">{" - "}</div>
        <div
          class="inline lg:block lg:text-orange-700 dark:lg:text-teal-500 lg:text-opacity-80"
        >
          Landerneau (Finistère)
        </div>
      </div>
    </h1>
  </div>

  <a
    href="tel:+33614148055"
    class="flex items-center gap-3 px-4 py-3 font-bold text-white rounded-2xl bg-gradient-to-br from-orange-500 to-amber-600 lg:hidden dark:from-teal-500 dark:to-cyan-600"
    ><Icon icon="phone" class="h-6" /> Prendre RDV</a
  >
</header>
