---
import IllustrationWrapper from "../IllustrationWrapper.astro";
import Illustration from "../Illustration.astro";
import InfoPratiqueItem from "../InfoPratiqueItem.astro";
import Section from "../Section.astro";
import SectionTitle from "../SectionTitle.astro";

import { contentfulClient } from "../../lib/contentful";
import type { EntryFieldTypes, EntrySkeletonType } from "contentful";

type OpeningHour = {
  day: EntryFieldTypes.Text;
  time: EntryFieldTypes.Text;
  order: EntryFieldTypes.Number;
};

const entries = await contentfulClient.getEntries<
  EntrySkeletonType<OpeningHour>
>({
  content_type: "openingHour",
  order: ["fields.order"],
});
---

<Section class="bg-white order-5 dark:bg-gray-800" id="infos-pratiques">
  <div class="mb-4 flex flex-col gap-8 sm:flex-row">
    <IllustrationWrapper class="sm:flex-initial sm:order-2">
      <Illustration
        illustration="Current location-pana"
        class="text-orange-500 dark:text-teal-500"
      />
    </IllustrationWrapper>

    <SectionTitle class="sm:order-1">Infos Pratiques</SectionTitle>
  </div>

  <div class="text-center mt-6">
    <div class="text-2xl font-bold">Marine Bossiaux</div>
    <a
      href="tel:+33614148055"
      class="text-2xl font-bold text-transparent bg-gradient-to-br from-orange-500 to-amber-600 bg-clip-text tracking-wider dark:from-teal-500 dark:to-cyan-600"
    >
      06.14.14.80.55
    </a>
  </div>

  <InfoPratiqueItem icon="clock" title="Horaires">
    <p>Le cabinet est ouvert au public aux horaires suivants:</p>
    <div class="flex mt-2 justify-between max-w-xs">
      <ul>{entries.items.map((item) => <li>{item.fields.day}</li>)}</ul>
      <ul>{entries.items.map((item) => <li>{item.fields.time}</li>)}</ul>
    </div>
  </InfoPratiqueItem>

  <InfoPratiqueItem icon="map-marker" title="Adresse">
    <address class="mt-2 not-italic">
      L'Arborescence (ancien cabinet de dermatologie)<br />38 Boulevard de la
      Gare <br />29800 Landerneau (Finistère)
    </address>
  </InfoPratiqueItem>

  <div class="mt-6">
    <h3 class="text-lg font-bold">Accéder au cabinet</h3>

    <p class="mt-2">
      Le cabinet est situé au sein de l'Arborescence (<a
        target="_blank"
        href="https://www.facebook.com/people/Larborescence-Landerneau/100076281248074/"
        >Facebook</a
      >), cabinet pluridisciplinaire
    </p>
    <p>
      L'entrée se fait sur le côté de l'immeuble grâce à une rampe en pente
      douce.
    </p>
  </div>

  <InfoPratiqueItem icon="car-sideview" title="En voiture">
    <p class="mt-2">
      Il est possible de stationner gratuitement dans la rue ou sur le parking
      sud de la gare rue Mathieu Donnart
    </p>
  </InfoPratiqueItem>

  <InfoPratiqueItem icon="metro" title="En train">
    <p class="mt-2">
      Le cabinet est facilement accessible depuis Brest grâce à la gare toute
      proche
    </p>
  </InfoPratiqueItem>

  <InfoPratiqueItem icon="accessible-icon-alt" title="PMR">
    <p class="mt-2">Accessible aux Personnes à Mobilité Réduite</p>
  </InfoPratiqueItem>

  <div class="h-72 sm:h-96">
    <iframe
      title="38 Bd de la Gare, 29800 Landerneau"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d661.5441441575086!2d-4.25666537074452!3d48.45314148816717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4816b2c2658edfe9%3A0x26e174244940b7cd!2s38%20Bd%20de%20la%20Gare%2C%2029800%20Landerneau!5e0!3m2!1sen!2sfr!4v1675539130415!5m2!1sen!2sfr"
      width="100%"
      height="100%"
      class="border-0 rounded-2xl overflow-hidden mt-6"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</Section>
