---
import Section from "../Section.astro";
import SectionTitle from "../SectionTitle.astro";
---

<Section class="pt-8 bg-white order-3 dark:bg-gray-800" id="microkine">
  <SectionTitle class="mb-4">Microkiné?</SectionTitle>

  <p>
    La microkiné est une technique manuelle qui vise à restaurer le bon
    fonctionnement de l'organisme en permettant à ses mécanismes réparateurs de
    fonctionner pleinement.
  </p>

  <p>
    Cette méthode, très douce, s'effectue sur l'ensemble du corps. Les épreuves
    qui n'auront pas été traitées efficacement par le corps peuvent aboutir à
    des blocages, des douleurs ou autres symptômes. Qu'elles soient d'origine
    physiques ou psychiques, ces « cicatrices » sont recherchées puis corrigées
    par une palpation légère et indolore.
  </p>

  <p>
    Elle s'adresse aux personnes de tout âge et ne présente pas de
    contre-indication a priori. Toutefois, ma pratique s'inscrit en complément
    des prises en charges habituelles. Elle a pour vocation d'en dynamiser les
    effets ou de les compléter, jamais de s'y substituer.
  </p>

  <p>
    Si vous souhaitez discuter de l'indication de la microkiné pour vous,
    n'hésitez pas à me téléphoner.
  </p>
</Section>
