---
import Icon from "../Icon.astro";
import NavItem from "../NavItem.astro";
---

<nav
  class="m-4 sticky bottom-4 order-7 sm:w-full sm:max-w-2xl sm:mx-auto lg:order-2 lg:top-4 lg:mb-8 xl:max-w-2xl"
>
  <ul
    class="flex bg-white shadow-xl bg-opacity-80 backdrop-blur p-2 rounded-3xl justify-between sm:p-4 lg:text-center lg:items-center lg:p-2 dark:bg-gray-700"
  >
    <NavItem href="#microkine" title="Microkiné?" icon="estate" />
    <NavItem href="#tarif" title="Tarif" icon="euro-circle" />
    <NavItem
      href="#infos-pratiques"
      title="Infos Pratiques"
      icon="map-marker"
    />
    <NavItem
      href="#faq"
      title="Foire aux Questions"
      displayTitle="F.A.Q"
      icon="comment-question"
    />

    <li class="lg:flex-auto">
      <a
        href="tel:+33614148055"
        class="block p-2 lg:p-4 lg:flex lg:gap-2 lg:items-center lg:font-bold lg:ml-2 bg-gradient-to-br from-orange-500 to-amber-600 rounded-2xl dark:from-teal-500 dark:to-cyan-600 dark:text-teal-100"
        aria-label="Prendre RDV par téléphone"
      >
        <Icon icon="phone" class="h-8 lg:h-6 text-white" />
        <div class="hidden lg:block text-white font-bold">Prendre RDV</div>
      </a>
    </li>
  </ul>
</nav>
