---
import Section from "../Section.astro";
import IllustrationWrapper from "../IllustrationWrapper.astro";
import Illustration from "../Illustration.astro";
import SectionTitle from "../SectionTitle.astro";
---

<Section class="bg-white order-4 dark:bg-gray-800" id="tarif">
  <div class="mb-4 flex flex-col gap-8 sm:flex-row">
    <IllustrationWrapper class="sm:flex-initial">
      <Illustration
        illustration="Currency-pana"
        class="text-orange-500 dark:text-teal-500"
      />
    </IllustrationWrapper>

    <div class="flex flex-col gap-2 justify-center">
      <SectionTitle>40€ / séance</SectionTitle>
      <p
        class="font-bold text-transparent bg-gradient-to-br from-orange-500 to-amber-600 bg-clip-text dark:from-teal-500 dark:to-cyan-600"
      >
        50€ à partir du 1er Janvier 2025
      </p>
    </div>
  </div>

  <p>Paiement en espèces ou par chèque uniquement.</p>
  <p>
    Les séances de microkiné ne sont pas remboursées par la Sécurité Sociale.
  </p>
  <p>
    En revanche, certaines mutuelles les remboursent totalement ou
    partiellement, vous pouvez vous renseigner auprès de votre organisme
    complémentaire.
  </p>
</Section>
