---
import SpeedInsights from "@vercel/speed-insights/astro";
import "../styles/tailwind.css";
import Header from "../components/sections/Header.astro";
import Banners from "../components/sections/Banners.astro";
import Microkine from "../components/sections/Microkine.astro";
import Tarif from "../components/sections/Tarif.astro";
import InfosPratiques from "../components/sections/InfosPratiques.astro";
import FoireAuxQuestions from "../components/sections/FoireAuxQuestions.astro";
import Nav from "../components/sections/Nav.astro";
import Footer from "../components/sections/Footer.astro";
---

<html lang="fr" class="scroll-smooth lg:scroll-pt-24">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Microkiné Landerneau - Marine Bossiaux</title>
    <meta
      name="description"
      content="Marine Bossiaux, microkiné vous accueille dans son cabinet à Landerneau (Finistère) pour des séances personnalisées adaptées à vos besoins."
    />
  </head>
  <body
    class="bg-amber-50 lg:flex lg:flex-col dark:bg-gray-900 dark:text-gray-200"
  >
    <Header />
    <Banners />
    <Microkine />
    <Tarif />
    <InfosPratiques />
    <FoireAuxQuestions />
    <Nav />
    <div class="fixed">
      <!-- Fix for position:sticky -->
    </div>
    <Footer />
    <SpeedInsights />
  </body>
</html>
