---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { BLOCKS } from "@contentful/rich-text-types";
import SpeedInsights from "@vercel/speed-insights/astro";
import Icon from "../components/Icon.astro";
import "../styles/tailwind.css";

import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes, EntrySkeletonType } from "contentful";

type MentionsLegalesSchema = {
  title: EntryFieldTypes.Text;
  content: EntryFieldTypes.RichText;
};

const content = await contentfulClient.getEntries<
  EntrySkeletonType<MentionsLegalesSchema>
>({
  content_type: "mentionsLegales",
  limit: 1,
});
---

<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mentions Légales - Microkiné Landerneau</title>
    <meta
      name="description"
      content="Marine Bossiaux, microkiné vous accueille dans son cabinet à Landerneau (Finistère) pour des séances personnalisées adaptées à vos besoins."
    />
  </head>
  <body
    class="bg-amber-50 p-4 sm:max-w-xl sm:mx-auto dark:bg-gray-900 dark:text-gray-200"
  >
    <a href="/" class="font-bold flex items-center gap-2"
      ><Icon icon="arrow-circle-left" class="h-6" />Retour au site</a
    >

    <h1
      class="mb-4 mt-8 text-3xl font-bold text-transparent bg-gradient-to-br from-orange-500 to-amber-600 bg-clip-text dark:from-teal-500 dark:to-cyan-600"
    >
      {content.items[0].fields.title}
    </h1>

    <div
      class="prose prose-h2:mb-4 prose-h2:mt-8 prose-li:my-0 dark:prose-invert"
      set:html={documentToHtmlString(content.items[0].fields.content, {
        renderNode: {
          [BLOCKS.LIST_ITEM]: (node, next) =>
            `<li>${next(node.content).replace(/<[^>]*>/g, "")}</li>`,
        },
      })}
    />
    <SpeedInsights />
  </body>
</html>
