---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { BLOCKS } from "@contentful/rich-text-types";
import type { Document } from "@contentful/rich-text-types";
import Icon from "./Icon.astro";

export type Props = {
  title: string;
  content: Document;
};

const { title, content } = Astro.props;
---

<div
  class="p-4 text-white bg-gradient-to-br from-orange-500 to-amber-600 dark:from-teal-500 dark:to-cyan-600 rounded-xl"
>
  <div class="flex items-start gap-2 mb-4">
    <Icon icon="info-circle" class="flex-initial inline h-6 shrink-0" />
    <h3 class="flex-1 font-bold">
      {title}
    </h3>
  </div>

  <div
    class="prose text-white prose-invert prose-hr:border-white prose-headings:text-white prose-p:text-white prose-code:text-white prose-blockquote:border-white"
    set:html={documentToHtmlString(content)}
  />
</div>
