---
import Icon from "./Icon.astro";

export type Props = {
  question: string;
};

const { question } = Astro.props;
---

<details
  class="bg-white rounded-2xl p-4 group shadow shadow-orange-200 open:shadow-md dark:bg-gray-800 dark:shadow-gray-900"
>
  <summary
    class="list-none flex items-center transition-all duration-150 ease-in-out cursor-pointer group-open:mb-4 gap-4"
  >
    <h3 class="font-bold flex-1">
      {question}
    </h3>
    <Icon
      icon="angle-up"
      class="h-6 rotate-90 transition-transform duration-150 ease-in-out group-open:rotate-180 text-orange-500 dark:text-teal-500"
    />
  </summary>
  <div class="text-sm text-gray-500 italic dark:text-gray-300">
    <slot />
  </div>
</details>
