---
import { parse } from "node-html-parser";

export type Props = {
  illustration: string;
  class?: string;
};

function getSVG(name: string) {
  const filepath = `/src/svg/illustrations/${name}.svg`;
  const files = import.meta.glob<string>("/src/svg/illustrations/**/*.svg", {
    as: "raw",
    eager: true,
  });

  if (!(filepath in files)) {
    throw new Error(`${filepath} not found`);
  }

  const root = parse(files[filepath] as string);

  const svg = root.querySelector("svg");

  if (!svg) return {};

  const { attributes, innerHTML } = svg;

  return {
    attributes,
    innerHTML,
  };
}

const { illustration, ...attributes } = Astro.props as Props;
const { attributes: baseAttributes, innerHTML } = getSVG(illustration);

const svgAttributes = { ...baseAttributes, ...attributes };
---

<svg {...svgAttributes} set:html={innerHTML} />

<style>
  svg {
    --bubbleColor: theme("colors.orange.100");
  }

  @media (prefers-color-scheme: dark) {
    svg {
      --bubbleColor: theme("colors.gray.800 / 50%");
    }
  }
</style>
