---
import Icon from "./Icon.astro";
import IconWrapper from "./IconWrapper.astro";

export type Props = {
  icon: string;
  title: string;
};

const { icon, title } = Astro.props;
---

<div class="mt-6 flex gap-4">
  <div>
    <IconWrapper>
      <Icon icon={icon} class="h-6 text-white" />
    </IconWrapper>
  </div>
  <div class="flex-1">
    <h3
      class="text-lg font-bold text-transparent bg-gradient-to-br from-orange-500 to-amber-600 bg-clip-text dark:from-teal-500 dark:to-cyan-600"
    >
      {title}
    </h3>

    <slot />
  </div>
</div>
