---
import Icon from "./Icon.astro";

export type Props = {
  href: string;
  title: string;
  displayTitle?: string;
  icon: string;
};

const { href, title, displayTitle, icon } = Astro.props;
---

<li class="lg:flex-auto">
  <a
    href={href}
    class="block p-2 lg:flex lg:gap-2 lg:items-center lg:font-bold dark:text-teal-100"
    aria-label={title}
  >
    <Icon icon={icon} class="h-8 lg:h-6 text-orange-500 dark:text-teal-500" />
    <div class="hidden lg:block">{displayTitle ?? title}</div>
  </a>
</li>
