---
const { class: _class, ...props } = Astro.props;
---

<section {...props} class={`p-4 ${_class ? _class : ""}`}>
  <div class="sm:max-w-xl sm:mx-auto xl:max-w-2xl">
    <slot />
  </div>
</section>
